@charset "UTF-8";
body{
    line-height: 1.5;
    font-size: 17px;
    background-color: rgb(145, 144, 144);
    color: white;
    padding-top:70px; 
}

/*画像のスライダー*/
.visual-container{
    width:100%;
    max-width: 1000px;
    margin:0 auto;
    overflow:hidden;
}
/*スライダーを横に並べる*/
.visual{
    display:flex;
    transition:transform 0.5s ease-in-out; /*スライド時のアニメーション*/
    width:400%;
}

/*画像スタイル*/
.visual img{
    width:100%;
    flex-shrink:0;
}



/*リンク*/
a,
a:link{
    color: aqua;
}
a:visited{
    color: lawngreen;
}
a:hover{
    text-decoration: none;
    color: skyblue;
}

/*スクロール*/
html{
    scroll-behavior: smooth;
}


/*header*/
/*固定*/
header{
    position: fixed;
    top:0;
    width:100%;
    left: 0%;
    z-index: 1000;
    background-color: rgb(42, 85, 226);
    padding:10px;
    display: flex;
}
header h1{
    margin: 20px 0 0 20px;
    margin: 0;
    padding:10px 20px;
    color:white;
}
header nav{
    margin:0 auto  0 20px;
}
/*横並び*/
header nav ul{
    list-style-type: none;
    margin: 25px 0;
    padding: 0;
    display: flex;
}

header nav ul li{
    margin-right: 20px;
}
header nav ul li a,
header nav ul li a:link,
header nav ul li a:visited{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: aqua;
}
header nav ul li a:hover{
    color: skyblue;
}
header  {
     background: rgb(42, 85, 226);
    
}
/*main*/
.home main section {
    display: flex;
    margin-left: 50px;
}

/*section*/
/*ガイドの場所移動*/
section img{
    position: relative;
    top: 73px;
    right: 170px;
}



/*footer*/
/*エアガン一覧の場所移動*/
footer{
    position: relative;
    top:40px;
    padding: 0 0 20px 20px;
}
/*詳細の背景色*/
select part{
    background-color: blue;
}

.inner {
    display: flex;
    flex-direction:column;
    justify-content:flex-start ;
    align-items: flex-start;
    min-height: 100px;
}


.sefety1{
    background-color:rgb(228, 228, 32);
    color: blue;
    text-align:center;
    width: 100vw;
    margin:0;
    padding:20px 0;
    margin-top: 30px;
}
.sefety2{
    list-style-type:decimal;
    text-align: center;
}

/*銃一覧*/
#gunlist{
    padding-bottom:20px;
}

/*部品検索欄*/
.search-container{
    font-family:Arial, sans-serif;
    background-color:rgb(0, 0, 0);
    padding:10px;
    

    text-align:center;
    margin-bottom:20px
}

#search-input{
    width:300px;
    padding:10px;
    font-size:15px;
}

#search-button{
    padding:10px 20px;
    font-size:15px;
    background-color: rgb(33, 48, 255); 
    color:aliceblue;
    border:none;
    cursor:pointer;
}

#search-button:hover{
    background-color: rgb(9, 148, 255);
}

#result-container{
    margin-top:20px;
    text-align:center;
}
.css{
    font-family:Arial, sans-serif;
    background-color:rgb(0, 0, 0);
    padding:10px;
    color:aliceblue;
    width: 100vw;
    
}

#result-container img{
    max-width:300px ;
    max-height: 300px;
    margin-top:20px;
}